<form action = "/random/results">
<label for= "mininput">Minimum</label>
<input id= "mininput" text = "text" name = "user_min" placeholder = "E.g. 1.5">
<label for= "maxinput">Maximum</label>
<input id= "maxinput" name = "user_max" placeholder = "E.g. 4.5">
<button type="submit" >Pick random number</button>
</form>
