<form action="/">
<label name="">APR</label>
<label>Number of years</label>
<label>Principal</label>
<input name = "payment"></input>
<input name = "payment"></input>
<input name = "payment"></input>
<button>Calculate monthly payment
</button>
</form>
