<form action="/payment/results">
<label for = "aprinput">APR</label>
<input id = "aprinput" text = "text" name="user_apr" placeholder="E.g. 5.42">
<label for="yearsinput">Number of years</label>
<input id = "yearsinput" text="text" name = "user_years" placeholder="How many years to repay?">
<label for = "principal_input">Principal</label>
<input id = "principal_input" text="text" name="user_pv" placeholder="how much principal?"></input>
<button>Calculate monthly payment
</button>
</form>
